doctype html
html
  head
    title Voting results for world peace
  body
    div(id="votes") Yes: 0, No: 0
    div(id="state") Disconnected
  script(src="//code.jquery.com/jquery-2.1.4.min.js")
  script.
    if (!!window.EventSource) {
      var source = new EventSource('/stream')

      source.addEventListener('message', function(e) {
        console.log("message");
        votes = JSON.parse(e.data)
        $("#votes").text("Yes: " + votes.yes + ", No: " + votes.no)
      }, false)

      source.addEventListener('open', function(e) {
        $("#state").text("Connected")
      }, false)

      source.addEventListener('error', function(e) {
        if (e.target.readyState == EventSource.CLOSED) {
          $("#state").text("Disconnected")
        }
        else if (e.target.readyState == EventSource.CONNECTING) {
          $("#state").text("Connecting...")
        }
      }, false)
    } else {
      console.log("Your browser doesn't support SSE")
    }